'use strict';
 
module.exports = config();
 
function config() {
    var root = './src/';
    var srcAppFolder = root + 'app/';
    var folders = {
        // root
        root: root,
        // sources
        srcWebapiFolder: srcAppFolder + 'models/webapi/',
        srcLanguagesFolder: root + 'assets/i18n/',
        // swagger
        swaggerFolder: root + 'swagger/',
    }
    var files = {
        swaggerJson: 'swagger.json',
        //swaggerJson: 'swagger-zib.json',
        //swaggerJson: 'swagger-zib-v2.json',
    }
 
    var swagger = {
        //url: 'file:///home/ubuntu/dev3/swagger/v2/typescript-generator/swagger.json',
        url: 'http://petstore.swagger.io/v2/swagger.json',
        //url: 'http://127.0.0.1/ZIB.WebApi.v2/swagger/docs/v1',
        swaggerFile: folders.swaggerFolder + files.swaggerJson,
        swaggerFolder: folders.swaggerFolder,
        swaggerTSGeneratorOptions: {
            modelFolder: folders.srcWebapiFolder,
            enumTSFile: folders.srcWebapiFolder + 'enums.ts',
            enumI18NHtmlFile: folders.enumI18NHtmlFolder + 'enum-i18n.component.html',
            enumLanguageFiles: [
                folders.srcLanguagesFolder + 'nl.json',
                folders.srcLanguagesFolder + 'en.json',
            ],
            generateClasses: true,
            modelModuleName: 'webapi.models',
            enumModuleName: 'webapi.enums',
            enumRef: './enums',
            namespacePrefixesToRemove: [
            ],
            typeNameSuffixesToRemove: [
            ],
            typesToFilter: [
                'ModelAndView', // Springfox artifact
                'View', // Springfox artifact
            ]
        }
    }
 
    var config = {
        root: root,
        files: files,
        swagger: swagger,
        folders:folders
    }
    return config;
}